<h1> <%= @task.title %> </h1>
<p> <%= @task.details %> </p>
 <p><input type="checkbox" <%= 'checked' if @task.completed %>> <%= @task.completed ? 'Task is complete' : 'Task is not completed yet' %></p>
<br>
<%= link_to "Edit Task", edit_task_path(@task.id) %>
<%= link_to "Delete Task", task_path(@task.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<%= link_to  "Back to all tasks", tasks_path %>
